<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="{{this.icon}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.clubname}}</h5>

            <h5 class="card-title">{{this.currBook.title}}</h5>
            <h5 class="card-title">{{this.currBook.author}}</h5>

        </div>
    </div>
</div>