<header class="headerPic text-center">
    <div class="header-container pt-auto mt-auto">
        <h1>Welcome to readerly</h1>
        <h4>The digital </h4>
    </div>
</header>

<div id="product">
    <div class="container text-center">
        <h2>Find a community</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="images/books2.png"></img>
            <h3>Feature 1</h3>
            <span class="text-center">Description Description Description Description Description</span>
        </div>
        <div class="col-md-4 text-center">
            <img src="images/book3.png"></img>
            <h3>Feature 2</h3>
            <p class="text-center">Description Description Description Description Description</p>

        </div>
        <div class="col-md-4 text-center">
            <img src="images/books.png"></img>
            <h3>Feature 3</h3>
            <p>Description Description Description Description Description</p>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--End of PRODUCT-->

<div id="about" class="text-center">
    <h2>About Us</h2>
    <p>Founded in Berlin, 2018 - we created this app to Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    <h3>The Team</h3>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="images/book3.png"></img>
            <p>Cameron</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="images/book3.png"></img>
            <p>Jana</p>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--End of ABOUT-->


<!-- Footer -->
<footer class="page-footer font-small pt-4 pb-4">
    <div class="footer-container">
        <!-- Footer Links -->
        <div class="container-fluid">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <h5 class="text-uppercase">Readerly</h5>
                    <p>
                        <i class="fa fa-home mr-3"></i>WeWork Berlin</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> info@readerly.com</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 49 30 123 11</p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- Links -->
                    <h5 class="text-uppercase">Learn More</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#about">About Us</a>
                        </li>
                        <li>
                            <a href="#product">Features</a>
                        </li>
                        <li>
                            <a href="#!">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="float-right stores">
                        <img src="/images/downloadicons.png" class="img-fluid">
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="row-xs">
            <div class="col-xs-12">
                <hr class="footer-seperator--thin">
            </div>
        </div>
        <div class="row middle-xs ios-8-block-row last-row">
            <div class="col-sm-8 col-xs-12">
                <ul class="footer-copyright">
                    <li> © 2018
                        <a href="/"> readerly.com</a>
                    </li>
                    <li>Disclaimer</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-12 end-sm">
                <ul class="footer-copyright-right float-right">
                    <li>
                        <i class="fab fa-facebook mr-3"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram mr-3"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin mr-3"></i>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->