<h1>Test Profile</h1>

<div class="row">
    <div class="col-6">
        <img src="/images/lisaicon.png">
    </div>
    <div class="col-6">
        <h3>Hi
            <span>{{ user.username}}</span> !
        </h3>
    </div>
</div>
<div>
    <h3>My favorite books</h3>
    {{#each user}}
    <ul>
        <li>
            {{this.books}}
        </li>
    </ul>
    {{/each}}
</div>
<div>
    <h3>My book clubs</h3>
    {{#each user}}
    <ul>
        <li>
            {{this.clubs}}
        </li>
    </ul>
    {{/each}}
</div>