$primary: #ff0000;
$secondary: #00ff00;

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Georgia");
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #3d3b3b;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #03a89e;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}

footer {
  background-color: #e3e3e3;
  color: #3d3b3b;
  // position: fixed;
  // bottom: 0;
}

.footer-copyright {
  color: #616161;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer-copyright li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-copyright li:after {
  content: " | ";
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
}

.footer-separator--thin {
  height: 0.0625 rem;
  background: black;
  border: 0;
}

// Index
.headerPic {
  background-image: url(../images/Tianjin-Binhai.jpg);
  text-align: center;
  //color: #03a89e;
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100vw;
  position: relative;
}

@media (max-width: 600px) {
  footer {
    display: none;
  }
}

#product {
  margin: 0px;
  padding: 30px;
}

.row {
  margin: 0px;
  margin-top: 30px;
}

#about {
  background-color: #03a89e;
  color: white;
  padding: 30px;
}

//Cards
.cards-container {
  display: flex;
  // padding: 5% 5%;
  justify-content: space-around;
}

.card-img-top {
  width: 90%;
  padding: 0.8em;
}
