$primary: #03a89e;
//$secondary: #00ff00;

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Georgia");
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #3d3b3b;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}

footer {
  background-color: #e3e3e3;
  color: #3d3b3b;
  // position: fixed;
  // bottom: 0;
}

.footer-container {
  max-width: 59rem;
  margin: 0 auto;
}

.footer-copyright {
  color: #616161;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.footer-copyright-right {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer-copyright li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-copyright li:after {
  content: " | ";
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
}

.footer-copyright-right li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: end;
}

.footer-separator--thin {
  height: 0.0625 rem;
  background: black;
  border: 0;
}
.stores img {
  width: 50%;
  float: right;
}
// Index
.headerPic {
  background-image: url(../images/Tianjin-Binhai.jpg);
  //opacity: 0.7;
  text-align: center;
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100vw;
  position: relative;
}
.header-container {
  top: 50%;
}
@media (max-width: 600px) {
  footer {
    display: none;
  }
}

#product {
  margin: 0px;
  padding: 30px;
}

.row {
  margin: 0px;
  margin-top: 30px;
}

#about {
  background-color: #03a89e;
  color: white;
  padding: 30px;
}

//Cards
.cards-container {
  display: flex;
  // padding: 5% 5%;
  justify-content: space-around;
}

// club content by Cameron - sorry I'm really bad at this

.club-content {
  //  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: lightgrey; // please change this to the color theme's designated grey/ contrasting color for clickable ui elements
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
.club-content > img {
  margin: 5px;
}
.club-content > h5 {
  align-self: center;
}
#videos {
  display: flex;
  justify-content: center;
}
.video-container {
  height: 70px;
  width: 124px;
  background-color: beige;
  margin: 3px;
}
.container > .btn-primary {
  margin-top: 5px;
}
.club-btn {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.card-img-top {
  width: 90%;
  padding: 0.8em;
}

//book search content
.search-img {
  width:12vw;
}
.no-margin-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

// .container-main {
//   max-width: 59rem;
//   margin: 30px auto;
// }
