<h1>Browse clubs</h1>
<div class="cards-container">
    <div class="card-group">
        <div class="row">
            {{#each club}}
            <div class="col-4">
                {{> clubCard this}}
            </div>
            {{/each}}
        </div>
    </div>
</div>