<divclass="container">
  <div class="jumbotron">
    <h1 class="dispaly-4"> {{club.clubname}}</h1>
    <br>
    <h3 class="dispaly-4">Start Chatting</h3>

    <div id="username">Other users see you as: {{username}}</div>
    <div>Be nice!</div>
    <br>
    <form action="/send-email" method="post">
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <br>
      <button id="send" type="submit" class="btn btn-primary">Send</button>
    </div>
    </form>
  </div>
  <div id="messages"></div>
  </div>