<div class="card-group">
    <div class="card">
        {{!--
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap"> --}}
        <div class="card-body">
            <h5 class="card-title">{{this.clubname}}</h5>
            <h5 class="card-title">{{this.currBook}}</h5>

        </div>
    </div>
</div>